@charset "utf-8";

body {
margin:0;
padding:0;
color:#323232;
font-size:100%;
background:#fff;
overflow-x:hidden;
}

body,textarea {
font-family:-apple-system,BlinkMacSystemFont,"Noto Sans JP",'Roboto',"ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","游ゴシック体",Yu Gothic,YuGothic,"游ゴシック Medium","Yu Gothic Medium","メイリオ", Meiryo,"Helvetica Neue", HelveticaNeue, Helvetica,Arial,"Segoe UI",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

div,p,article,section,nav,ul,li,header,footer,input,h1,h2,h3,h4,h5,th,td {
padding:0;
margin:0;
word-wrap:break-word;
}

*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
}

img {
padding:0;
margin:0;
vertical-align:bottom;
border-style:none;
}

.cf:after { content:" "; display:block; clear:both; }
.flex { display:flex; }
.b {font-weight:bold;}

li { list-style:none; }

a:hover {
-webkit-animation:hover 0.5s ease forwards;
animation:hover 0.5s ease forwards;
}

a {
text-decoration:none;
}


.b {
font-weight:bold;
}

.fb {
color:#0096c8;
}

.fo {
color:#ff6400;
}

.fy {
color:#f5e100;
}

.fr {
color:#e6321e;
}


/*FORM*/
input , select , textarea , button {
-webkit-appearance:none;
-ms-appearance:none;
-moz-appearance:none;
-o-appearance:none;
appearance:none;
outline:none;
box-shadow:none;
border:#ccc 1px solid;
}

input:focus , textarea:focus , button:focus {
border:#b49646 1px solid;
}

input[type="checkbox"] , input[type="radio"] {
background:#fff;
padding:5px;
border-radius:100%;
}

input[type="checkbox"]:checked , input[type="radio"]:checked {
background:#000;
border:#000 1px solid;
}

input[type="button"]:hover , input[type="submit"]:hover {
opacity:0.8;
background:#eee;
}

::placeholder {
color:#ccc;
}

select {
background:#fff url(../benefit/img/select.svg) no-repeat;
background-size:10px 7px;
background-position:right 15px center;
position:relative;
width:70%;
padding:15px;
}




/*ANIMATION*/
@keyframes hover {
0%{opacity:1;}
100%{opacity:0.7;}
}

@keyframes circle1 {
0%{opacity:0;}
50%{opacity:0.08;}
100%{opacity:0; transform:scale(4);}
}