@charset "utf-8";

/*ANIMATION*/
@keyframes hover {
0%{opacity:1;}
100%{opacity:0.5;}
}

@keyframes cta {
0%{transform:scale(1);}
100%{transform:scale(1.02);}
}


/*INVIEW*/
.inviewfadeInLine {
width:0;
transition:0.5s ease;
}

.fadeInLine {
width:70px;
height:1px;
background:#e696b4;
}

.inviewfadeInUp {
opacity:0;
transform:translate(0,10%);
transition:1s ease;
}

.fadeInUp {
opacity:1;
transform:translate(0, 0);
}

.inviewfadeInRight {
opacity:0;
transform:translate(10%,0);
transition:1s ease;
}

.fadeInRight {
opacity:1;
transform:translate(0, 0);
}

.inviewfadeInDown {
opacity:0;
transform:translate(0,-10%);
transition:1s ease;
}

.fadeInDown {
opacity:1;
transform:translate(0, 0);
}

.inviewfadeInLeft {
opacity:0;
transform:translate(-10%,0);
transition:1s ease;
}

.fadeInLeft {
opacity:1;
transform:translate(0, 0);
}

.inviewfadeIn {
opacity:0;
transition:1s ease;
}

.fadeIn {
opacity:1;
}

.inviewfadeInIcon {
opacity:0;
transition:1s ease;
transform:scale(0.2);
}

.fadeInIcon {
opacity:1;
transform:scale(1);
}


